#parallel_plot{
    width: 100%;
    height: 100%;
}

#parallel_plot{
    overflow: visible;
}

.section2_legend{
    transform: translate(-8%,0);
}

.spending_graph {
    overflow: visible;
}

.spending_lines{
    cursor: pointer;
}