/* h1{
    background-color: blue;
} */

#plotdiv{
    height: 80vh;
    width: 50vw;
}

#bubble_chart {
    margin-top: 2.5%;
    height: 50vh;
    width: 40vw;
    /* background-color: rgb(255, 255, 255); */
    overflow: visible;
  }

.network.plotdiv{
    margin-top: 2vh;
    margin-left: 2vh;
}

.particiapant_circle{
    cursor: pointer;
}